<div>
    <p-card *ngFor="let offer of subscribedOffers" [header]="offer.name" [style]="{width: '360px'}">
        <ng-template pTemplate="header">
            <img alt="Card"
                src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c78bc3fc-9f08-47ca-81ae-d89055c7ec49/de08sh4-c258176f-0c9b-48e1-bbe9-6c801236c6f9.png/v1/fill/w_512,h_512,strp/need_for_speed___heat_icon_by_andonovmarko_de08sh4-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01MTIiLCJwYXRoIjoiXC9mXC9jNzhiYzNmYy05ZjA4LTQ3Y2EtODFhZS1kODkwNTVjN2VjNDlcL2RlMDhzaDQtYzI1ODE3NmYtMGM5Yi00OGUxLWJiZTktNmM4MDEyMzZjNmY5LnBuZyIsIndpZHRoIjoiPD01MTIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.CZZBHZJMsyZuCtdlyAb4bY3paN1u-oizagKI_SAEHN0">
        </ng-template>
        <p>ASDLKFJASDKLFJAS</p>

        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                [style]="{'margin-left': '.5em'}">
            </p-button>
        </ng-template>
    </p-card>
</div>