<div>
    <p-dataView [value]="subscribedOffers" layout="grid">

        <ng-template pTemplate="header">
            <p class="text-center"><em>You are subscribed to these cultural offers</em></p>
        </ng-template>

        <ng-template let-offer pTemplate="gridItem">
            <div class="container panel-card">
                <app-dashboard-panel-item [subscribedOffer]="offer"></app-dashboard-panel-item>
            </div>
        </ng-template>


        <ng-template pTemplate="footer">Choose from the list.</ng-template>
    </p-dataView>


</div>