<div class="p-grid map-page-container">
  <div class="p-col-6">
    <app-offer-map
      *ngIf="culturalOffers"
      [culturalOffers]="culturalOffers"
      [bounds]="locationRange"
      (mapBoundsChanged)="updateLocations($event)"
    ></app-offer-map>
  </div>
  <div class="p-col-6 p-d-flex p-flex-column">
    <div class="p-as-start p-mb-5" style="width:100%">
      <app-offer-map-search-location
        (submit)="searchLocation($event)"
      >
      </app-offer-map-search-location>
    </div>
    <div class="p-as-start p-mb-5" style="width:100%">
      <app-offer-map-filter-form
        [categories]="categories"
        [subcategories]="subcategories"
        (categorySelected)="getSubcategories($event)"
        (submit)="updateFilters($event)"
        (reset)="resetFilters()"
      >
      </app-offer-map-filter-form>
    </div>
    <div class="p-as-start p-mb-5" style="width:100%">
      <p-card header="Filter results">
        <p-dataView
          #dv
          [value]="culturalOffers"
          layout="list" 
          [paginator]="true" 
          [rows]="7"
          filterBy="name"
          class="offer-filter-table"
        >
          <ng-template pTemplate="header">
              <i class="pi pi-search" style="margin-right:10px"></i>
              <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
          </ng-template>
          <ng-template let-offer pTemplate="listItem">
              <div class="offer-filter-item p-col-12" style="font-size: 20px; padding: 10px 0">
                  <a [routerLink]="['/cultural-offers', offer.id]">{{ offer.name }}</a> | {{ offer.location.address }}
              </div>
          </ng-template>
        </p-dataView>
      </p-card>
    </div>
  </div>
</div>