<p-card header="Filter by category">
  <form [formGroup]="filterForm" (ngSubmit)="emitOnSubmit()" novalidate>
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          inputId="category"
          [options]="categories"
          formControlName="category"
          optionLabel="name"
          (onChange)="emitSubcategorySelected($event)"
          placeholder="Select a category"
        >
        </p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          inputId="subcategory"
          [options]="subcategories"
          formControlName="subcategory"
          optionLabel="name"
          placeholder="Select a subcategory"
        ></p-dropdown>
      </div>
      <button
        class="p-field p-col-12 p-md-5"
        pButton
        [disabled]="filterForm.pristine"
        label="Filter"
        type="submit"
      ></button>
      <button
        class="p-field p-col-12 p-md-5"
          pButton
          type="button"
          [disabled]="filterForm.pristine"
          (click)="revert()"
          label="Reset"
          class="p-button-danger"
        ></button>
    </div>
  </form>
</p-card>
