<p-card header="Filter by category">
  <form [formGroup]="filterForm" (ngSubmit)="submit()" novalidate>
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          inputId="category"
          [options]="categories"
          formControlName="category"
          optionLabel="name"
          (onChange)="selectCategory()"
          placeholder="Select a category"
        >
        </p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          inputId="subcategory"
          [options]="subcategories"
          formControlName="subcategory"
          optionLabel="name"
          placeholder="Select a subcategory"
        ></p-dropdown>
      </div>
      <div class="p-col-6 p-offset-3">
        <button
          pButton
          [disabled]="filterForm.pristine"
          label="Filter"
          type="submit"
        ></button>
      </div>
      <div class="p-col-6 p-offset-3">
        <button
          pButton
          type="button"
          [disabled]="filterForm.pristine"
          (click)="reset()"
          label="Reset"
          class="p-button-danger"
        ></button>
      </div>
      
      
    </div>
  </form>
</p-card>
