<form id="add-category-form" [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="p-grid p-px-6 form-group">
    <div class="p-px-5"></div>
    <span class="p-field p-col p-mt-4 p-grid">
      <label class="p-justify-left p-col-2">
        Name:
      </label>
      <div>
        <input
          id="add-category-input"
          type="name"
          autocomplete="off"
          pInputText
          formControlName="name"
          class="form-control "
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
      </div>
    </span>
  </div>
  <div class="p-grid p-px-5 p-mt-6 p-justify-center">
    <button
      id="submit-category-button"
      [disabled]="invalidFormInputs()"
      type="submit"
      class="p-button"
      label="Add"
      pButton
    ></button>
  </div>
</form>
