<div class="offer-review p-grid">
  <div class="review-rating" class="p-d-flex p-flex-column p-jc-center p-col-3">
    <div class="rating-number">{{ review.rating }}</div>
    <p-rating [ngModel]="review.rating | round" readonly="true" [cancel]="false" class="rating"></p-rating>
  </div>
  <div class="review-content p-col-9">
    <span class="review-author">{{ review.author.firstName }} {{ review.author.lastName }}</span>
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
      <p class="review-comment">{{ review.comment }}</p>
    </p-scrollPanel>

    <p-carousel *ngIf="review.images.length" [value]="review.images" class="review-images">
      <ng-template let-image pTemplate="item">
        <img [src]="image" alt="Review image" />
      </ng-template>
    </p-carousel>



    <div *ngIf="review.reply != null;then showReply else showAddReplyButton"></div>

    <ng-template #showReply>
      <div class="review-items">
        <div style="margin-bottom: 20px">
          <h2>Reply</h2>
          <hr />
          <app-review-reply-item [reply]="review.reply"></app-review-reply-item>
        </div>
      </div>
    </ng-template>

    <ng-template #showAddReplyButton>
      <button *ngIf="userIsAdmin" pButton class="p-button-secondary" label="Reply">
      </button>
    </ng-template>

  </div>
</div>