<div class="offer-review p-grid">
  <div class="review-content p-col-12">
    <p-scrollPanel [style]="{width: '100%', 'max-height': '200px'}">
      <p class="review-comment">{{ review.comment }}</p>
    </p-scrollPanel>

    <p-carousel *ngIf="review.images.length" [value]="review.images" class="review-images">
      <ng-template let-image pTemplate="item">
        <img [src]="image" alt="Review image" />
      </ng-template>
    </p-carousel>
  </div>
  <div class="p-col-9 p-offset-3">
    <div *ngIf="review.reply != null;then showReply else showAddReplyButton"></div>

    <ng-template #showReply>
      <div class="review-items">
        <div style="margin-bottom: 20px; margin-top: 20px">
          <h2>Reply</h2>
          <hr />
          <app-review-reply-item [reply]="review.reply"></app-review-reply-item>
        </div>
      </div>
    </ng-template>

    <ng-template #showAddReplyButton>
      <button *ngIf="userIsAdmin" (click)="showAddReplyDialog()" style="margin-top: 20px" pButton
        class="p-button-secondary review-reply-button" label="Reply">
      </button>
    </ng-template>

  </div>
</div>