<div fxLayout="row">
  <div class="review-rating" fxFlex="25" fxLayout="row" gdAlignRows="center center" gdAlignColumns="center center">
    <span class="rating-number">3.0</span>
    <star-rating 
      [starType]="'svg'" 
      [rating]="3.0" 
      [showHalfStars]="true" 
      [readOnly]="true">
    </star-rating>
  </div>
  <div class="review-content" fxFlex="75">
    <p class="review-comment">{{ review.comment }}</p>
    <div class="review-images">
      <div fxFlex="calc(33% - 10px)">
        <img [src]="review.images[0]" alt="">
      </div>
      <div fxFlex="calc(33% - 10px)">
        <img [src]="review.images[1]" alt="">
      </div>
      <div fxFlex="calc(33% - 10px)">
        <img [src]="review.images[2]" alt="">
      </div>
    </div>
    <button mat-flat-button color="primary">Reply</button>
  </div>
</div>
