<div>
    <div *ngIf=!subSubCatPage>
        Loading...
    </div>
    <div *ngIf="subSubCatPage && subSubCatPage.data.length != 0; else showNoOffersMessage">
        <div class="subcategory-nav">
            <app-pagination-bar [hasPrev]="subSubCatPage.links.prev" [hasNext]="subSubCatPage.links.next"
                [currentPage]="page" (navigatePrevEvent)="getPreviousPage()" (navigateNextEvent)="getNextPage()">
            </app-pagination-bar>
        </div>
        <p-tabView>
            <p-tabPanel *ngFor="let subSubCat of subSubCatPage.data" [cache]="false">
                <ng-template pTemplate="header">
                    {{ subSubCat.name }}
                </ng-template>

                <!-- lazy loaded -->
                <ng-template pTemplate="content">
                    <app-dashboard-panel-content [subscribedSubcategory]="subSubCat"></app-dashboard-panel-content>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>

    <ng-template #showNoOffersMessage >
        <p-card *ngIf="subSubCatPage" class="center p-card-shadow p-shadow-24 no-subscriptions-message" header="You are not subscribed to any offer.">
        </p-card>
    </ng-template>
</div>