.center {
    
    position: fixed; /* or absolute */
    width: 440px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: -50px;
    // margin-left: -50px;
    // width: 100px;
    // height: 100px;
}
