textarea {
    resize: none;
    width: 100%;
  }

input {
    resize: none;
    width: 100%;
}

button {
  width: 40%;
}

form {
  width: 100%;
}

.inputs { 
  width: 100%;
  background-color: blue;
} 

table {
  width:100%;
}

.offer-images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 150px;
}

.left-item { grid-area: left; }
.right-item { grid-area: right; }
.bottom-item { grid-area: bottom; }


.grid-container {
  display: grid;
  grid-template-areas:
    'left left left left right right right'
    'left left left left right right right'
    'left left left left right right right'
    'bottom bottom bottom bottom bottom bottom bottom';
  grid-gap: 10px;
  padding: 10px;
}